{{!-- TODO: add ingredients to select here - page will render on the 'show view' --}}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4"><i class="fas fa-cocktail"></i>SHAKEN NOT STIRRED</h1>
        <p class="lead">Choose your poison</p>
    </div>
</div>


{{!-- TODO: change partials to match table --}}
{{!-- {{ingredients.ing}} --}}
<div class="ingredientList">
    <h2>PICK YOUR INGREDIENTS:</h2>

    <form action="/list" method="post">
        {{#each ingredients}}
        <div class="form-check ml-5">
            <input class="form-check-input" type="checkbox" value="{{ing}}" id="defaultCheck1" name="ingredients">
            <label class="form-check-label" for="defaultCheck1">
                {{ing}}
            </label>
            <br>
        </div>
        {{/each}}
        <input class="btn btn-primary mt-5" type="submit" value="Submit">
    </form>
</div>