<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">SHAKEN NOT STIRRED</h1>
    <p class="lead">Let's make something cool!</p>
  </div>
</div>

<div class="container">
  <a href="https://www.toyworld.co.nz/" type="button" class="btn btn-outline-danger" target="blank">I am under 18</a>
  <a href="/list" type="button" class="btn btn-outline-success" target="blank">I am aged 18 or over</a>
</div>