<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4"><i class="fas fa-cocktail"></i>SHAKEN NOT STIRRED</h1>
    <p class="lead">Let's make some drinks!</p>
  </div>
</div>

<div class="restricted container text-center">
  <a href="https://www.toyworld.co.nz/" type="button" class="btn btn-outline-danger btn-lg" target="blank">I
    am under
    18</a>
  <a href="/list" type="button" class="btn btn-outline-success btn-lg" target="blank">I am aged 18 or over</a>
</div>