body {
  background-color: #9effcc;
}

.jumbotron {
  background-color: #ffcbf2;
  color: white;
}

.jumbotron h1 {
  font-family: "Caveat";
  font-weight: 700;
}

.jumbotron p {
  font-family: "Lato";
}
