body {
  background-color: #9effcc;
  font-family: "Lato";
}

.jumbotron {
  background-color: #ffcbf2;
  color: white;
}

.jumbotron h1 {
  font-family: "Caveat";
  font-weight: 700;
}

.jumbotron p {
  font-family: "Lato";
}

.restricted {
  margin-top: 10%
}

h2 {
  font-weight: 700;
  color:#133337
}

.ingredientList {
  margin-top: 5rem;
}